a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }

* { margin: 0; }
html  { height: 100%; }
body { 
  height: 100%;
}
#page-header {
  height: 103px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #a92b2b;
  color: #e0e0e0;
}
#page-logo {
  height: 165px;
  float: left;
  border: none;
  margin-right: 8px;
}

#page-header h1 {
  font-family: "arial black", arial;
  font-size: 38px;
  letter-spacing: 1.5px;
  color: white;
  margin-top: 50px;
}
#page-header h2 {
  font-family: "Georgia", serif;
  font-size: 19px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: -20px 0 0 20px;
}
#page-links {
padding-top: 102px;
}


#page-left-sidebar {
  position: absolute;
  top: 180px;
  left: 12px;
  width: 150px;
  text-align: center;
}

#page-content {
clear: both;
padding-left: 180px;
padding-top: 20px;
}

div#page-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}
div#page-footer, .page-footer-push {
  height: 3em;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
}
div#page-footer a:link,
div#page-footer a:hover,
div#page-footer a:visited {
  color: #424242;
}




div.nav-links {
  
  margin-left: 180px;
  padding-top: 5px;
}
div.nav-links div {
  float: left;
  padding: 3px 8px 3px 8px;
  margin-right: 6px;
}
div.nav-links .active {
  background: #a92b2b;
}
div.nav-links a:link,
div.nav-links a:visited,
div.nav-links a:hover {
  color: black;
  font-family: "arial black", arial;
  letter-spacing: 2px;
}



h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: "arial black", arial;
  letter-spacing: 1.5px;
}
h6 { margin: 6em 0 0 0; }

blockquote {
  margin: 2em;
}

p {
  margin: 1em;
}

li {
  margin-left: 1.2em;
}
