body {
  background: #0a0a0a;
  color: #e0e0e0;
}
a:link,
a:hover,
a:visited {
  color: #0000e0;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  text-decoration: none;
}
a:hover { text-decoration: underline; }

#page-header h1 {
  font-family: "arial black", arial;
  font-size: 38px;
  letter-spacing: 1.5px;
  color: white;
}
#page-header h2 {
  font-family: "Georgia", serif;
  font-size: 19px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: -20px 0 0 20px;
}

div#page-content {
  padding: 5px;
}



.post-byline {
  text-align: right;
  font-size: 13px;
  color: #d0d0d0;
  letter-spacing: 0.3px;
}
.post-byline .post-date {
  font-family: sans-serif;
  padding-right: 8px;
}
.post-byline .post-author {
  border-left: 1px solid white;
  padding-left: 12px;
}
div.post-holder {
  border: 1px solid #181818;
  background: #131313;
  margin: 15px auto 5px auto;
  width: 760px;
  padding: 5px;
}
.post-title {
  font-family: "arial black", arial;
  font-size: 28px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}
.post-body {
  font-family: "Georgia", serif;
  font-weight: 100;
  letter-spacing: 1.2px;
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5 {
  font-family: "arial black", arial;
  letter-spacing: 1.5px;
  color: white;
}


.post-tags a:link,
.post-tags a:visited,
.post-tags a:hover {
  font-size: 10px;
  color: #e0e0e0;
  margin-left: 5px;
}


/* post/index */
div.post-index .post-byline {
  margin-top: -1em;
}
div.post-index .post-title a:link,
div.post-index .post-title a:visited, 
div.post-index .post-title a:hover {
  font-family: "arial black", arial;
  font-size: 14px;
  letter-spacing: 2px;
  color: #0000e0;
}
div.post-index .post-title {
  text-align: left;
}
div.post-index .post-body {
  font-size: 0.8em;
}
